@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("lucida-sans-unicode.ttf");
  }
body{   
    font-family: "Lucida Sans Unicode";
    background-color: silver;
}

#contenedor{
    position: relative;
    width: 900px;   
    background-color: white;
    left:25%;


}
#lista{
   position: relative;
   width: 10%;
   top: 15px;
}
#titulo{
    text-align: center;
}

#bienvenida{
    position: relative;
    left: 25%;
    width: 70%;
    padding: 5px;
    border: 1px solid rgba(189, 186, 186, 0.74);
    bottom: 120px;
}

#textoVerde{
    color: rgb(76, 207, 76);
}

#textoDorado{
    color: #EBAE3B;
}

hr{
    position: relative;
    bottom: 20px;
    color: rgba(189, 186, 186, 0.74);
}