body
{
    background-color: #faf4de;
}

h1
{
    background-color: #f5d273;
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-style: italic;
    color: blue;
}

.clase1
{
    font-weight: bold;
    color:#5f747d;
}

em
{
    color:#5f747d;
}

.clase2
{
    margin-left: 3em;
}